@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Luckiest+Guy&display=swap');

:root {
  --fonte-principal: 'Bungee', Arial;
  --fonte-secundaria: 'Luckiest Guy', Arial;
  

  --titulo: #ff00ff;         /* magenta neon */
  --resultado: #00fff7;      /* ciano neon */
  --verde-muito-claro: #39ff14; /* verde neon */
  --marrom-claro: #ff0080;   /* rosa choque */
  --amarelo: #fcee09;        /* amarelo neon */
  --azul-escuro: #0a001a;    /* fundo quase preto com tom roxo */
  --verde-forte: #08f26e;    /* verde neon mais forte */
  --verde-claro: #08f26e;    
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--fonte-principal);
}

body {
  background: white;
  color: black;
}

body.dark-mode {
  background-color: black;
  color: white;
}