#options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.5vh;

    width: clamp(300px, 50vw, 700px);
    min-height: 45vh;
    padding: 2vh;

    background-color: #1a001acc;
    border: 3px solid var(--titulo);
    animation: neon-pulse 4s infinite ease-in-out;
}

h1 {
    font-size: var(--font-grande);
    margin-bottom: 2vh; 
}

.option-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
    width: 100%;
    padding: 15px;
    border: 2px solid var(--resultado);
    background-color: #00000090;
}

.option-group h3 {
    font-size: var(--font-normal);  
}

.btn-voltar {
    margin-top: 20px;
}
